<ion-view view-title="Materias">
  <ion-content>
    <div class="padding"  ng-bind-html="vm.filterDescription"></div>
      <ion-list>
        <ion-item class="item-remove-animate item-icon-right" ng-repeat="item in vm.listaItens" ng-click="vm.select(item)">
          <h2>{{item.tipo.data.descricao}}</h2>
          <p>{{item.ementa}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>

      <div class="padding" ng-show="vm.listaItens.length <= 0 && !vm.loading">
        Nenhum registro encontrado para os filtros selecionados.
      </div>
      {{"2017-12-15" | date: "dd/MM/yyyy"}}
      <div class="row padding" ng-show="vm.loading">
        <ion-spinner></ion-spinner> <span>Buscando registros...</span>
      </div>
  </ion-content>
</ion-view>
