<ion-view view-title="Siga Câmara">
  <ion-content>
    <div class="padding">Pesquisar Registros dos Vereadores</div>
    
    <ul class="list">
      <li class="item" ng-click="vm.redirect('app.bairros')">
        <i class="ion-home"></i>
        Bairros <span ng-show="vm.bairro.id">({{vm.bairro.nome}})</span>
      </li>
      <li class="item" ng-click="vm.redirect('app.vereadores')">
        <i class="ion-person-stalker"></i>
        Vereadores <span ng-show="vm.vereador.id">({{vm.vereador.nome_parlamentar}})</span>
      </li>
      <li class="item">
        <input type="text" ng-model="vm.assunto" placeholder="Assunto" />
      </li>

      <button class="button button-full button-positive" ng-click="vm.pesquisar()">
          Pesquisar
      </button>
    </ul>
  </ion-content>
</ion-view>
