<ion-view view-title="Siga Câmara">
  <ion-content>
    <p>Pesquisar Acões dos Vereadores</p>

    <ul class="list">
      <li class="item" ng-click="vm.redirect('app.bairros')">
         <ion-icon ios="ios-people" md="md-people"></ion-icon>
          Bairros <span ng-show="vm.bairro.id">({{vm.bairro.nome}})</span>
      </li>
      <li class="item" ng-click="vm.redirect('app.vereadores')">
        Vereadores <span ng-show="vm.vereador.id">({{vm.vereador.nome_parlamentar}})</span>
      </li>
      <li class="item" ng-click="vm.redirect('app.assuntos')">
          <input type="text" ng-model="assunto" placeholder="Assunto" />
      </li>

      <button class="button button-full button-positive" ng-click="vm.pesquisar()">
          Pesquisar
      </button>
    </ul>
  </ion-content>
</ion-view>
